<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />  
<title>Eliya Stuffs</title>
<link rel="stylesheet" href="/css/normalize.css" type="text/css">
<link rel="stylesheet" href="/css/reset.css" type="text/css">	
<link rel="stylesheet" href="/css/common.css" type="text/css">	
<link rel="stylesheet" href="/css/client.css" type="text/css">	
<link rel="stylesheet" href="/css/iconfont/material-icons.css">	
<style>

		</style>
	</head>

<body class="body">
	<div class="wrapper">
		<ul id="chars"></ul>
		<div id="info">

			
		</div>
	</div>
	<div id="charInfoTemplate">
		<h1 class="ENName"><span></span></h1>
		<h2 class="JPName"><span></span></h2>
		<div class="Art"></div>
		<div class="Attribute">Attribute: <span></span></div>
        <div class="Rarity">Rarity: <span></span></div>
		<div class="LeaderBuff">Leader Skill: <span></span></div>
		<div class="Skill">Active Skill: <span></span></div>		
		<div class="Ability1">Ability 1: <span></span></div>		
		<div class="Ability2">Ability 2: <span></span></div>		
		<div class="Ability3">Ability 3: <span></span></div>
		<div class="Role"><span></span></div>
		<div class="Gender"><span></span></div>
		<div class="Race"><span></span></div>
	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery-3.4.1.min.js"></script>
	
	<script>
		$(document).ready(function () {
			var clientid;
			var isIOS = ((/iphone|ipad/gi).test(navigator.appVersion));
			var inputDown = isIOS ? "touchstart" : "touchstart mousedown";
			var inputUp = isIOS ? "touchend" : "touchend mouseup";
			var w_width = $(window).width();
			var w_height = $(window).height();
			const assetPath = './img/assets/'
			var socket = io();

			function clearUI() {
				
			}
			
			if(window.location.hash) {
				
			}				

			function resizeCheck() {
				w_width = $(window).width();
				w_height = $(window).height();
			}
			$(window).resize(function () {
				resizeCheck();
			});
			resizeCheck();

			socket.on('data', function (data) {
				data.forEach(function(unit){
					var elem = $('<li id="char-'+unit.DevNicknames+'"></li>')
						.append($('<img src="'+assetPath+'chars/'+unit.DevNicknames+'/square_0.png">'));
					elem.appendTo($("#chars"));
					
					elem.on(inputDown,function(){
						var info = $("#charInfoTemplate").clone();
						Object.keys(unit).forEach(function(key) {
						   info.find('.'+key+' span').text(unit[key]);
						});
						info.find('.Art').html('<img src="'+assetPath+'chars/'+unit.DevNicknames+'/full_shot_0.png">');
						$("#info").html("").append(info);
					});
				});
				
			});
			
		});
	</script>
	
	</body>
	
</html>