<!doctype html>
<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PV2RM77');</script>
<!-- End Google Tag Manager -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />  
<title>World Flipper Collection Tracker</title>
<meta property="og:title" content="World Flipper Collection Tracker" />
<meta property="og:type" content="website">
<meta property="og:url" content="http://eliya-bot.herokuapp.com/<% if (data.listview) { %>list<% } %><% if (data.listid) { %><%= data.listid %><% } %>">
<meta property="og:image" content="http://eliya-bot.herokuapp.com/favicon-32x32.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">	
<link rel="stylesheet" href="/css/normalize.css" type="text/css">
<link rel="stylesheet" href="/css/reset.css" type="text/css">	
<link rel="stylesheet" href="/css/common.css" type="text/css">	
<link rel="stylesheet" href="/css/client.css?2006181449" type="text/css">
<style>

	  </style>
  </head>

<body class="body viewchar <% if (data.listview) { %>listView<% } %>">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV2RM77"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->	
  <div class="wrapper">
  <div class="toolbar">
  <ul class="btnList">
	  <li id="btnListView" class="button <% if (data.listview) { %>on<% } %>">List View</li>
	  <li id="btnSave" class="button">Save</li>
	  <li id="btnGetShareURL" class="button">Generate Share URL</li>
	  <li id="shareURL" class="url">
		<input id="txtShareURL" type="text" class="txtURL" value="">
		<div id="btnUrlCopy" class="button btnCopy" data-target="txtShareURL">
		  <svg class="" viewBox="0 0 24 24" version="1.1" width="16" height="16" aria-hidden="true"><path xmlns="http://www.w3.org/2000/svg" d="M20.25 2.625h-2.625v1.5h2.25v17.625h-15.75v-17.625h2.25v-1.5h-2.625c-0.621 0.001-1.124 0.504-1.125 1.125v18.375c0.001 0.621 0.504 1.124 1.125 1.125h16.5c0.621-0.001 1.124-0.504 1.125-1.125v-18.375c-0.001-0.621-0.504-1.124-1.125-1.125h-0z"/><path xmlns="http://www.w3.org/2000/svg" d="M9 6.563h6c0.621-0.001 1.124-0.504 1.125-1.125v-4.688h-8.25v4.688c0.001 0.621 0.504 1.124 1.125 1.125h0zM9.375 2.25h5.25v2.813h-5.25z"/></svg>
        </div>
	  </li>
	  </ul>
	<div id="errMsg" class="message hidden"></div>
  </div>		
	  <h1 class="title">World Flipper Collection Tracker</h1>
	  <ul id="switchUnits" class="filterList">
			  <li id="btnShowChar" class="on" data-type="char">Characters  </li>
			  <li id="btnShowEquip" data-type="equip">Equipments  </li>
			  </ul>
	  <article id="chars">
		  <ul id="filterCharAttribute" class="filterList">
			  <li class="btnFilter charFilter" data-filter="AttributeFire"><img src="/img/assets/sprites/elements/element_red.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="AttributeWater"><img src="/img/assets/sprites/elements/element_blue.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="AttributeWind"><img src="/img/assets/sprites/elements/element_green.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="AttributeThunder"><img src="/img/assets/sprites/elements/element_yellow.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="AttributeLight"><img src="/img/assets/sprites/elements/element_white.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="AttributeDark"><img src="/img/assets/sprites/elements/element_black.png">
			  </li>
			  </ul>
		  <ul id="filterCharRarity" class="filterList">
			  <li class="btnFilter charFilter" data-filter="Rarity5"><img src="/img/assets/sprites/rarity/star5.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="Rarity4"><img src="/img/assets/sprites/rarity/star4.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="Rarity3"><img src="/img/assets/sprites/rarity/star3.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="Rarity2"><img src="/img/assets/sprites/rarity/star2.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="Rarity1"><img src="/img/assets/sprites/rarity/star1.png">
			  </li>
			  </ul>		
		  <ul id="filterAltArt" class="filterList">			  
			  <li id="btnShowRole" data-type="char">Show Role/Race</li>				  
			  <li id="btnAltArt">Awaken</li>
			  <li class="btnShowOwned" data-type="char">Show Owned</li>
			  </ul>			
		  <ul id="filterCharRole" class="filterList">
			  <li class="btnFilter charFilter" data-filter="RoleSword"><img src="/img/assets/sprites/types/type_knight.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="RoleFist"><img src="/img/assets/sprites/types/type_fighter.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="RoleBow"><img src="/img/assets/sprites/types/type_ranged.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="RoleSupport"><img src="/img/assets/sprites/types/type_supporter.png">
			  </li>
			  <li class="btnFilter charFilter" data-filter="RoleSpecial"><img src="/img/assets/sprites/types/type_special.png">
			  </li>
			  </ul>		
		  <ul id="filterCharRace" class="filterList">
			  <li class="btnFilter charFilter" data-filter="RaceAquatic">Aquatic
			  </li>					  
			  <li class="btnFilter charFilter" data-filter="RaceBeast">Beast
			  </li>				  
			  <li class="btnFilter charFilter" data-filter="RaceDemon">Demon
			  </li>				  
			  <li class="btnFilter charFilter" data-filter="RaceDragon">Dragon
			  </li>
			  <li class="btnFilter charFilter" data-filter="RaceHuman">Human
			  </li>				  
			  <li class="btnFilter charFilter" data-filter="RaceMecha">Mecha
			  </li>
			  <li class="btnFilter charFilter" data-filter="RacePlant">Plant
			  </li>				  
			  <li class="btnFilter charFilter" data-filter="RaceSprite">Sprite
			  </li>
			  <li class="btnFilter charFilter" data-filter="RaceUndead">Undead
			  </li>				  
			  <li class="btnFilter charFilter" data-filter="RaceYoukai">Youkai
			  </li>

			  </ul>			  
		  <section id="charRarity5">
			<h2><img src="/img/assets/sprites/rarity/star5.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllChar5" class="btnSelectAll button">Select All</div>
			<ul class="rarity5 charList unitList"></ul>
		  </section>
		  <section id="charRarity4">
			<h2><img src="/img/assets/sprites/rarity/star4.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar4" class="btnSelectAll button">Select All</div>				  
			<ul class="rarity4 charList unitList"></ul>
		  </section>
		  <section id="charRarity3">
			<h2><img src="/img/assets/sprites/rarity/star3.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar3" class="btnSelectAll button">Select All</div>				  
			<ul class="rarity3 charList unitList"></ul>
		  </section>
		  <section id="charRarity2">
			<h2><img src="/img/assets/sprites/rarity/star2.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar2" class="btnSelectAll button">Select All</div>				  
			<ul class="rarity2 charList unitList"></ul>
		  </section>
		  <section id=charRarity1>
			<h2><img src="/img/assets/sprites/rarity/star1.png"></h2>
			  <span class="score"></span>
			<div id="btnSelectAllChar1" class="btnSelectAll button">Select All</div>				  
			<ul class="rarity1 charList unitList"></ul>
		  </section>
		  <div id="charGrandTotal">Overall<br><span class="percentage"></span><br><span class="score"></span></div>
	  </article>
	  <article id="equips">
		  <ul id="filterEquipAttribute" class="filterList">
			  <li class="btnFilter" data-filter="AttributeFire"><img src="/img/assets/sprites/elements/element_red.png">
			  </li>
			  <li class="btnFilter" data-filter="AttributeWater"><img src="/img/assets/sprites/elements/element_blue.png">
			  </li>
			  <li class="btnFilter" data-filter="AttributeWind"><img src="/img/assets/sprites/elements/element_green.png">
			  </li>
			  <li class="btnFilter" data-filter="AttributeThunder"><img src="/img/assets/sprites/elements/element_yellow.png">
			  </li>
			  <li class="btnFilter" data-filter="AttributeLight"><img src="/img/assets/sprites/elements/element_white.png">
			  </li>
			  <li class="btnFilter" data-filter="AttributeDark"><img src="/img/assets/sprites/elements/element_black.png">
			  </li>
			  <li class="btnFilter" data-filter="AttributeAll">All
			  </li>				  
			  </ul>
		  <ul id="filterEquipRarity" class="filterList">
			  <li class="btnFilter" data-filter="Rarity5"><img src="/img/assets/sprites/rarity/star5.png">
			  </li>
			  <li class="btnFilter" data-filter="Rarity4"><img src="/img/assets/sprites/rarity/star4.png">
			  </li>
			  <li class="btnFilter" data-filter="Rarity3"><img src="/img/assets/sprites/rarity/star3.png">
			  </li>
			  <li class="btnFilter" data-filter="Rarity2"><img src="/img/assets/sprites/rarity/star2.png">
			  </li>
			  <li class="btnFilter" data-filter="Rarity1"><img src="/img/assets/sprites/rarity/star1.png">
			  </li>
			  </ul>		
		  <ul id="filterEquipObtain" class="filterList">
			  <li class="btnFilter" data-filter="NoGacha">No Gacha </li>
			  <li id="btnViewSoul">Ability Soul</li>				  
			  <li class="btnShowOwned" data-type="equip">Show Owned</li>
			  </ul>				  
		  <section id="equipRarity5">
			<h2><img src="/img/assets/sprites/rarity/star5.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip5" class="btnSelectAll button">Select All</div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity4">
			<h2><img src="/img/assets/sprites/rarity/star4.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip4"  class="btnSelectAll button">Select All</div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity3">
			<h2><img src="/img/assets/sprites/rarity/star3.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip3"  class="btnSelectAll button">Select All</div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity2">
			<h2><img src="/img/assets/sprites/rarity/star2.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip2"  class="btnSelectAll button">Select All</div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		  <section id="equipRarity1">
			<h2><img src="/img/assets/sprites/rarity/star1.png"></h2>
			<span class="score"></span>
			<div id="btnSelectAllEquip1"  class="btnSelectAll button">Select All</div>
			<ul class="rarity5 equipList unitList"></ul>
		  </section>	
		   <div id="equipGrandTotal">Overall<br><span class="percentage"></span><br><span class="score"></span></div>
	  </article>		  
	  <div id="info">
		  <div id="infoButtons" class="btnList">
			  <div id="btnCharInfo" class="button">
				  Unit Info
			  </div>
			  <div id="btnPlanner" class="button">
				  Party Planner
			  </div>	
		  </div>			
		  <div class="infoWrapper">
		  </div>
		  <div id="planner" class="plannerWrapper">
			  <div id="unisons">
				  <ul id="unison1" class="unison">
					</ul>
				  <ul id="unison2" class="unison">
					</ul>
				  <ul id="unison3" class="unison">
					</ul>
			  </div>
			  <div id="btnUnset" class="button">X</div>
			  <ul id="plannerButtons" class="btnList">
				  <li id="btnShowSkillWait" class="button">Show Skill Cost</li>
				  <li id="btnGetCompURL" class="button">Generate Image URL</li>
				  <li id="compURL" class="url">
					<input id="txtCompURL" type="text" class="txtURL" value="">
					<div id="btnUrlCopy" class="button btnCopy" data-target="txtCompURL">
					  <svg class="" viewBox="0 0 24 24" version="1.1" width="16" height="16" aria-hidden="true"><path xmlns="http://www.w3.org/2000/svg" d="M20.25 2.625h-2.625v1.5h2.25v17.625h-15.75v-17.625h2.25v-1.5h-2.625c-0.621 0.001-1.124 0.504-1.125 1.125v18.375c0.001 0.621 0.504 1.124 1.125 1.125h16.5c0.621-0.001 1.124-0.504 1.125-1.125v-18.375c-0.001-0.621-0.504-1.124-1.125-1.125h-0z"/><path xmlns="http://www.w3.org/2000/svg" d="M9 6.563h6c0.621-0.001 1.124-0.504 1.125-1.125v-4.688h-8.25v4.688c0.001 0.621 0.504 1.124 1.125 1.125h0zM9.375 2.25h5.25v2.813h-5.25z"/></svg>
					</div>
				  </li>				  
			  </ul>

		  </div>

	</div>
  <div id="charNamePlate">
	  <div class="ENName"><span></span></div>
	  <div class="JPName"><span></span></div>
	  <div class="Obtain"><span></span></div>
  </div>
  <div id="charInfoTemplate" class="hidden charInfoBlock" >
	  <div class="ENName"><span></span></div>
	  <div class="JPName"><span></span></div>
	  <div class="expandBlock">
		  <div class="Art"></div>
		  <div class="details">
			  <div class="Attribute">Attribute: <span></span></div>
			  <div class="Rarity">Rarity: <span></span></div>
			  <div class="LeaderBuff">Leader Buff: <span></span></div>
			  <div class="Skill">Skill: <span></span></div>		
			  <div class="SkillWait">Skill Cost: <span></span></div>
			  <div class="Ability1">Ability 1: <span></span></div>		
			  <div class="Ability2">Ability 2: <span></span></div>		
			  <div class="Ability3">Ability 3: <span></span></div>
			  <div class="footer">
				  <div class="Role"><span></span></div>
				  <div class="Gender"><span></span></div>
				  <div class="Race"><span></span></div>	
			  	  <div class="Obtain"><span></span></div>					  
			  </div>
		  </div>				
	  </div>

  </div>
  <div id="equipInfoTemplate" class="hidden equipInfoBlock" >
	  <div class="ENName"><span></span></div>
	  <div class="JPName"><span></span></div>
	  <div class="expandBlock">
		  <div class="Art"></div>
		  <div class="details">
			  <div class="Attribute">Attribute: <span></span></div>
			  <div class="Rarity">Rarity: <span></span></div>
			  <div class="MaxHP">HP: <span></span></div>		
			  <div class="MaxATK">ATK: <span></span></div>		
			  <div class="WeaponSkill">Weapon Skill: <span></span></div>	
			  <div class="AbilitySoul">Ability Soul: <span></span></div>
			  <div class="Obtain">Obtain: <span></span></div>		
		  </div>				
	  </div>

  </div>	  
  <script>
	  var listid;
		<% if (data.listid) { %> listid = <%= data.listid %>; <% } %>
     window.module = {}  		
  </script>
  <script src="/socket.io/socket.io.js"></script>	  
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>	
  <script src="/js/copy.js"></script>
  <script src="/js/eliya.tracker.js?2006181449"></script>
  </body>

</html>