<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />  
<title>Eliya Stuffs</title>
<link rel="stylesheet" href="/css/normalize.css" type="text/css">
<link rel="stylesheet" href="/css/reset.css" type="text/css">	
<link rel="stylesheet" href="/css/common.css" type="text/css">	
<link rel="stylesheet" href="/css/client.css" type="text/css">	
<link rel="stylesheet" href="/css/iconfont/material-icons.css">	
<style>

		</style>
	</head>

<body class="body">
	<div class="wrapper">
	<div class="toolbar">

		
		<div id="btnGetShareURL" class="button">Share</div>
		<div id="shareUrl" class="hidden"><span></span> URL Copied!</div>
	</div>		
		<h1 class="title">World Flipper Collection Tracker</h1>		
		<article id="chars">
			<h2>★★★★★</h2>
			<ul id="charRarity5" class="rarity5 charList"></ul>
			<h2>★★★★</h2>
			<ul id="charRarity4" class="rarity4 charList"></ul>
			<h2>★★★</h2>
			<ul id="charRarity3" class="rarity3 charList"></ul>
			<h2>★★</h2>
			<ul id="charRarity2" class="rarity2 charList"></ul>
			<h2>★</h2>
			<ul id="charRarity1" class="rarity1 charList"></ul>
		</article>
		<div id="info">
			<div class="infoWrapper">
			</div>
			<div id="btnExpand" class="button">
				<i class="material-icons">keyboard_arrow_up</i>
			</div>
			<div id="btnClose" class="button">
				<i class="material-icons">keyboard_arrow_down</i>
			</div>				
		</div>
	</div>
	<div id="charInfoTemplate" class="hidden" >
		<h1 class="ENName"><span></span></h1>
		<h2 class="JPName"><span></span></h2>
		<div class="expandBlock">
			<div class="Art"></div>
			<div class="details">
				<div class="Attribute">Attribute: <span></span></div>
				<div class="Rarity">Rarity: <span></span></div>
				<div class="LeaderBuff">Leader Skill: <span></span></div>
				<div class="Skill">Active Skill: <span></span></div>		
				<div class="Ability1">Ability 1: <span></span></div>		
				<div class="Ability2">Ability 2: <span></span></div>		
				<div class="Ability3">Ability 3: <span></span></div>
				<div class="footer">
					<div class="Role"><span></span></div>
					<div class="Gender"><span></span></div>
					<div class="Race"><span></span></div>	
				</div>
			</div>				
		</div>

	</div>
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery-3.4.1.min.js"></script>
	
	<script>
		$(document).ready(function () {
			var clientid;
			var isIOS = ((/iphone|ipad/gi).test(navigator.appVersion));
			var inputDown = isIOS ? "touchstart" : "touchstart mousedown";
			var inputUp = isIOS ? "touchend" : "touchend mouseup";
			var w_width = $(window).width();
			var w_height = $(window).height();
			const assetPath = './img/assets/'
			var socket = io();

			function clearUI() {
				
			}
			
			

			function resizeCheck() {
				w_width = $(window).width();
				w_height = $(window).height();
			}
			$(window).resize(function () {
				resizeCheck();
			});
			resizeCheck();
			socket.on('url added',function(url){
				const shareUrl = "http://eliya-bot.herokuapp.com/#list="+url.id
				copyToClipboard(shareUrl);
				$("#btnGetShareURL").text("URL Copied").addClass("on");
				
			});
			
			socket.on('url',function(url){
				var units = url.url.split(",");
				$(".checked").removeClass(".checked");
				units.forEach(function(unit){
					$("#char-"+unit).addClass("checked");
				});
			});		
			socket.on('data', function (data) {
				data.forEach(function(unit){
					var elem = $('<li id="char-'+unit.DevNicknames+'" class="'+unit.Attribute+'"></li>')
						.append($('<img src="'+assetPath+'chars/'+unit.DevNicknames+'/square_0.png">'));
					elem.appendTo($("#charRarity"+unit.Rarity));
					elem.data("DevNicknames", unit.DevNicknames);
					elem.on(inputDown,function(){
						$(this).toggleClass("checked");
					});
					elem.on("mouseover",function(e){
						var info = $("#charInfoTemplate").clone().removeClass('hidden').attr("id","");
						Object.keys(unit).forEach(function(key) {
						   info.find('.'+key+' span').text(unit[key]);
						});
						info.find('.Art').html('<img src="'+assetPath+'chars/'+unit.DevNicknames+'/full_shot_0.png">');
						$("#info .infoWrapper").html("").append(info);						
					});
				});
				if(window.location.hash) {
					var id= window.location.hash.replace("#list=","");
					socket.emit('get url', id);
				}	
			});

			function copyToClipboard(str){
				nstr = str;
				//nstr = shrinkUrl(nstr);
				console.log(nstr);
				const el = document.createElement('textarea');
				el.value = nstr;
				document.body.appendChild(el);
				el.select();
				document.execCommand('copy');
				document.body.removeChild(el);
			}

			$("#btnExpand").on(inputDown, function(){
				$("#info").addClass("expanded");
			});
			$("#btnClose").on(inputDown, function(){
				$("#info").removeClass("expanded");
			});			
			
			$("#btnGetShareURL").on(inputDown, function(){
				var units = [];
				$(".checked").each(function(){
					var DevNicknames = $(this).data("DevNicknames");
					units.push(DevNicknames);
				})
				var unitList = units.join();
				socket.emit('add url', unitList);
			});

			
			
			
		});
	</script>
	
	</body>
	
</html>