.body
{
    z-index: 1;
}

.body,
.wrapper
{
    position: absolute;
    top: 0;

    overflow: hidden;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
}

.button i
{
    vertical-align: top;
}

.button
{
    display: inline-block;

    margin: 10px;
    padding: 10px;

    transition: .1s all;
    text-align: center;

    border-radius: 50px;
    background: #ccc;
}
.button svg{
	vertical-align: top;	
}
.button.pressed,
.button.on
{
    color: #fff;
    background: #36e;
}
.button.pressed svg,
.button.on svg
{
    fill: #fff;
}
.button.select{
	position: absolute;	
	list-style:none;
	margin: 10px;
	width: 40px;
	height: 40px;
	padding: 2px;
}
.button.undo{
	position:absolute;
}
.button.select .brush,
.button.select .paletteColor{
	border: none;
	background: none;
}
#chars{
}
#chars li{
	float: left;
}