body
{
    z-index: 1;
	padding:60px 0;
	transition: padding 0.5s;
}
body.expanded{
	padding-bottom: 360px;
}

.body,
.wrapper
{
    width: 100%;
    margin: 0;
}
.button i
{
    vertical-align: top;
}
.button
{
    display: inline-block;

    margin: 5px;
    padding: 10px;
	font-size: 12px;

    text-align: center;
	box-shadow: 0 0 1px 1px #aaa;
    border-radius: 50px;
    background: #fff;
	cursor: pointer;

}
.button svg{
	vertical-align: top;	
}
.button.pressed,
.button.on
{
	transition: 0.3s all;
    color: #fff;
    background:#63B74B;
}
.button.pressed svg,
.button.on svg
{
    fill: #fff;
}
.button.select{
	position: absolute;	
	list-style:none;
	margin: 10px;
	width: 40px;
	height: 40px;
	padding: 2px;
}
.button.undo{
	position:absolute;
}
.button.select .brush,
.button.select .paletteColor{
	border: none;
	background: none;
}
.toolbar{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 20;
}
.title{
	font-size: 40px;
	padding:10px;text-align: center;
	margin-bottom:30px;
}

.toolbar .btnList{
	position: absolute;
	right:10px;
	top:10px;
}

#btnGetShareURL{
	width:140px;
}
#chars{
	max-width:960px;
	margin: 0 auto;
}
#chars h2{
	clear:both;
	margin:20px 0 10px 5px;
}
#chars section{
	position: relative;
}
#chars section .score{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 11px;
	color: #999;
}
#grandTotal{
	margin-top: 10px;
	text-align: center;
	font-size: 11px;
	color: #999;
	margin-bottom: 20px;
}
#grandTotal .percentage{
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	color: #000;
}
.charList{
	display: flex;
	flex-wrap: wrap;
	align-content:flex-start;
}
.char{ 
	min-width: 60px;
	min-height: 60px;
	border:3px solid #fff;
	background: #fff;
	margin: 2px;
	box-sizing: border-box;
	border-radius: 3px;
	opacity: 0.35;
	box-shadow: 0 0 1px 1px #aaa;
	transition: all 0.5s;
	cursor: pointer;
	flex: 1 1 60px;
	position: relative;
}

.char.checked{
	border:3px solid #fff;
	padding: 0;
	background: #dde;
	opacity: 1;	
}
.char.selected{
	background:#63B74B;
	border:3px solid #63B74B;
	opacity: 1;	
}
.char.spookyStuff{
	border-top: none;
	border-bottom: none;
	opacity: 0;
	cursor: auto;
	height: 0;
}
.char img{
	max-width: 100%;
	height: auto;
}
.char:before{
	content:"";
	width: 12px;
	height: 12px;
	padding: 2px;
	position:absolute;
	top: -2px;
	right: -2px;
	background-color: #fff;
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 100%;
	border-radius: 3px;
}
.char.Fire:before{
	background-image:url("../img/assets/sprites/elements/element_red.png");
}
.char.Water:before{
	background-image:url("../img/assets/sprites/elements/element_blue.png");
}
.char.Wind:before{
	background-image:url("../img/assets/sprites/elements/element_green.png");
}
.char.Thunder:before{
	background-image:url("../img/assets/sprites/elements/element_yellow.png");
}
.char.Light:before{
	background-image:url("../img/assets/sprites/elements/element_white.png");
}
.char.Dark:before{
	background-image:url("../img/assets/sprites/elements/element_black.png");
}
.planner .char{
	opacity: 1;		
}
#planner .charList .char:after{
	font-size: 10px;
	color:#333;
}
#planner .charList:first-child .char:nth-child(1):after{
	content:"Leader";
}
#planner .charList:first-child .char:nth-child(2):after{
	content:"Main";
}
#planner .charList:first-child .char:nth-child(3):after{
	content:"Main";
}
#planner .charList .char:nth-child(1):after{
	content:"Sub";
}
#planner .charList .char:nth-child(2):after{
	content:"Sub";
}
#planner .charList .char:nth-child(3):after{
	content:"Sub";
}
#info{
	position:fixed;
	background:#fff;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #aaa;	
	width:100%;
	bottom: 0px;
	left:0px;
	height: 0;
	text-align: center;
	transition: 0.5s all;
}
#info.charinfo{
	height: 300px;		
}
#info.planner{
	height: 260px;		
}
#info .expandBlock{
	opacity: 0;
	height:0;
	transition: 0.5s all;	
}
#info.charinfo .expandBlock{
	opacity: 1;

}
#info h1{
	margin-top:5px;
}
#info h1, #info h2{
	display: none;
	font-size:14px;
	font-weight: bold;
	line-height: 30px;
}
#info .plannerWrapper,
#info .infoWrapper{
	display: none;
}
#info.charinfo .infoWrapper{
	display: block;
}
#info.planner .plannerWrapper{
	display: block;
}
#info.charinfo h1, #info.charinfo h2{
	display: inline-block;
}
#info .btnList{
	width:100%;
    position: absolute;
	margin-top: -60px;
	height: 0;
}
#btnCharInfo{
	
}
#btnPlanner{
}

.infoWrapper{
	max-width:920px;
	margin: 0 auto;
	line-height: 1.5em;
}
.plannerWrapper{
	max-width:240px;
	margin: 10px auto;	
}
#info .Art{
	float:left;
	width: 240px;
	height: 240px;
}
#info .details{
	text-align: left;
	font-weight: bold;
	overflow-y: auto;
	max-height: 240px;
}
#info .details span{
	font-weight: normal;
	
}
#info .footer{
	font-size: normal;
	color:#666;
	margin-top:20px;
}
#info .footer div{
	display: inline-block;
	margin-right:10px;
}
#charNamePlate{
	position: absolute;
	background:rgba(255,255,255,0.8);
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	box-shadow: 0 0 1px 1px #aaa;
	margin-top: -5px;
	transform: translate(-50%,-100%);
	pointer-events: none;
}
#charNamePlate .ENName{
	font-size:10px;
	line-height: 15px;
}
#charNamePlate .JPName{
	font-size:10px;
	line-height: 15px;
}
.alt{
	display: none;
}
.viewAlt .main{
	display: none;
}
.viewAlt .alt{
	display: block
}
@media all and (max-width: 920px) {
	.wrapper{
		width: 92%;
		padding-left: 4%;
		padding-right: 4%;
	}
	#info .Art{
		width: 30vw;
		height: 30vw;
	}
}	
	
@media all and (max-width: 480px) {
	#info .Art{
		width: 40vw;
		height: 40vw;
	}	
}